.container-about {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #e0e0e0;
}
@media (min-width: 320px) and (max-width: 768px) {
  .container-about {
    width: 95%;
    gap: 10px;
    padding: 20px;
    font-weight: 500;
  }
  .container-about h2 {
    font-size: 1.2rem;
  }
  .container-about p {
    font-size: 0.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-about {
    width: 95%;
    gap: 10px;
    padding: 40px;
    font-weight: 500;
  }
  .container-about h2 {
    font-size: 1.2rem;
  }
  .container-about p {
    font-size: 0.8rem;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .container-about {
    width: 90%;
    padding: 50px;
    gap: 10px;
    font-weight: 500;
  }
  .container-about h2 {
    font-size: 1.5rem;
  }
  .container-about p {
    width: 80%;
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .container-about {
    width: 80%;
    padding: 80px;
    gap: 10px;
    font-weight: 500;
    border-radius: 10px;
  }
  .container-about h2 {
    font-size: 1.8rem;
  }
  .container-about p {
    width: 80%;
    font-size: 1rem;
  }
}
