@media (min-width: 320px) and (max-width: 768px) {
  .container-adopt {
    width: 90vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--gap);
  }

  .container-form h2 {
    font-size: 1.2rem;
    text-align: center;
  }

  .container-form p {
    font-size: 0.9rem;
    text-align: center;
  }

  .container-form form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 10px;
    width: 100%;
  }

  .container-form select,
  .container-form button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }

  .container-form select {
    background: none;
  }
  .container-adopt-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pet-container-cards {
    width: 92%;
    padding: 4px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .cards {
    width: var(--card-width);
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-right: var(--gap);
    flex-shrink: 0;
    border-radius: var(--border-radius);
    gap: 4px;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .img {
    height: 200px;
    border-radius: 4px;
  }

  .img img {
    width: 100%;
    height: 100%;
  }

  .cards button {
    height: 40px;
    border-radius: 4px;
    border: none;
  }

  .icon-adopt {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container-adopt {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }

  .container-form {
    width: 100%;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--gap);
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .container-form p {
    font-size: 1rem;
  }

  .container-form form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 10px;
    width: 100%;
  }

  .container-form select,
  .container-form button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }

  .container-form select {
    background: none;
  }
  .container-adopt-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .pet-container-cards {
    width: 85%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .cards {
    width: var(--card-width);
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-right: var(--gap);
    flex-shrink: 0;
    border-radius: 10px;
    gap: 4px;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .cards button {
    height: 40px;
    border-radius: 4px;
    border: none;
  }

  .img {
    height: 230px;
  }

  .img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .icon-adopt {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .icon-adopt img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .container-adopt {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }

  .container-form {
    width: 95%;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--gap);
  }

  .container h2 {
    font-size: 1.4rem;
  }

  .container-form p {
    font-size: 1rem;
  }

  .container-form form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 10px;
    width: 100%;
  }

  .container-form select,
  .container-form button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }

  .container-form button {
    border: none;
    cursor: pointer;
  }

  .container-adopt-cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pet-container-cards {
    width: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }

  .cards {
    width: var(--card-width);
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-right: var(--gap);
    flex-shrink: 0;
    border-radius: 10px;
    gap: 4px;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .cards button {
    height: 40px;
    border-radius: 4px;
    border: none;
  }

  .img {
    height: 200px;
  }

  .img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  .icon-adopt {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-adopt img {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .container-adopt {
    width: 80%;
    display: flex;
    gap: var(--gap);
    border-radius: 10px;
    padding: 20px;
  }

  .container-form {
    width: 40%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .container-form h2 {
    font-size: 1.4rem;
  }

  .container-form p {
    font-size: 0.95rem;
  }

  .container-form form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: 10px;
  }

  .container-form select,
  .container-form button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
  }

  .container-form select {
    padding: 4px;
  }

  .container-adopt-cards {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .pet-container-cards {
    width: 90%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    padding: var(--padding);
  }

  .cards {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: var(--gap);
    flex-shrink: 0;
    border-radius: var(--border-radius);
    background-color: var(--primary-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.05);
  }

  .img {
    height: 250px;
  }

  .img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .cards h3 {
    font-size: 1.1rem;
  }

  .cards p {
    font-size: 0.9rem;
  }

  .cards button {
    height: 40px;
    border-radius: 4px;
    border: none;
  }

  .icon-adopt {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .icon-adopt img {
    width: 100%;
    height: 100%;
  }
}
.cards {
  background-color: #e0e0e0;
}
.cards button {
  background-color: #5dade2;
}
.container-form button {
  border: none;
  cursor: pointer;
  background-color: #5dade2;
}

.container-form button:hover {
  background: #b0b0b0;
}
.container-form select {
  background: #b0b0b0;
  outline: none;
  border: none;
  padding: 4px;
}
.container-adopt {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
