button {
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
:root {
  --primary-bg: #ffff;
  --secondary-bg: #ffa726;
  --button-bg: #fff3b0;
  --card-bg: #b0bec5;
  --hover-bg: #dfb5d8;
  --border-color: #000;
  --border-radius: 10px;
  --gap: 10px;
  --padding: 20px;
  --card-width: 230px;
}
body {
  background: var(--primary-bg);
  overflow-x: hidden;
  background: #f5f5dc;
}
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    gap: 10px;
  }
}
@media (min-width: 769px) {
  .container {
    gap: 20px;
  }
}
