.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 482px) {
  .container {
    gap: 10px;
  }
}
@media (min-width: 483px) and (max-width: 768px) {
  .container {
    gap: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    gap: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .container {
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    gap: 20px;
  }
}
