.Card {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: solid 2px #f9d162;
}
.Card:hover {
  transform: translateY(-5px);
}
.img img {
  border-radius: 10px;
}
